[Unit]
Description=Gateway ETL Service
Documentation=https://github.com/kingfadzi/gateway
After=network.target steampipe.service
Wants=steampipe.service

[Service]
Type=simple
User=steampipe
Group=steampipe

WorkingDirectory=/opt/gateway

ExecStartPre=/opt/init/gateway.sh
ExecStart=/opt/init/gateway-start.sh

Restart=on-failure
RestartSec=30

[Install]
WantedBy=multi-user.target
