[Unit]
Description=Gateway ETL Service
Documentation=https://github.com/kingfadzi/gateway
After=network.target steampipe.service
Wants=steampipe.service

[Service]
Type=simple
User=fadzi
Group=fadzi

WorkingDirectory=/home/fadzi

ExecStartPre=/home/fadzi/.local/bin/gateway.sh
ExecStart=/home/fadzi/.local/bin/gateway-start.sh

Restart=on-failure
RestartSec=30

[Install]
WantedBy=multi-user.target
