[Unit]
Description=Bind mount RPM postgres for steampipe
Before=steampipe.service

[Mount]
What=/usr/pgsql-14
Where=/home/fadzi/.steampipe/db/14.19.0/postgres
Type=none
Options=bind

[Install]
WantedBy=multi-user.target
