[Unit]
Description=Steampipe SQL Service
Documentation=https://steampipe.io/docs
After=network.target local-fs.target

[Service]
Type=simple
User=fadzi
Group=fadzi

Environment=STEAMPIPE_INSTALL_DIR=/home/fadzi/.steampipe
Environment=HOME=/home/fadzi
Environment=STEAMPIPE_UPDATE_CHECK=false
Environment=PATH=/usr/local/bin:/usr/bin:/usr/sbin
WorkingDirectory=/home/fadzi

ExecStart=/home/fadzi/.local/bin/steampipe-start.sh
ExecStop=/usr/local/bin/steampipe service stop

Restart=on-failure
RestartSec=10
TimeoutStartSec=120

[Install]
WantedBy=multi-user.target
